/* Header.css */

/* Default styles for the navbar */
.navbar {
    background-color: #ffffff; 
    color: #ffffff; /* Text color */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Styles for the fixed navbar */
  .fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Light background color when fixed */
    color: #343a40; /* Text color when fixed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  /* Custom styles for the logo or any other elements inside the navbar */
  .navbar-brand i b {
    color: #28a745; /* Logo text color */
  }
  
  /* Custom styles for the navigation links */
  .navbar-nav .nav-link {
    color: #ffffff; /* Navigation link text color */
  }
  
  /* Active link styles */
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Hover and active link color */
  }
  